
@{
    ViewBag.Title = "Support";
}

<div class="jumbotron">
    <h1>Support</h1>
    <p class="lead">If you are having issues with our service, please do not hesistate to contact us via one of the following:</p>
    <ul>
        <li>Telephone: 07777 111 222</li>
        <li>Email: NexcoSupport@NexcoFinance.co.uk</li>
    </ul>
    <p class="lead">Our opening hours are 8AM to 8PM Monday to Friday, and we will look to answer any support related email within two working days.</p>
</div>