
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">

    <div>
        <a href="#signup"><button type="button" class="btn btn-secondary">Navigate to registration</button></a>
        <a href="#registration"><button type="button" class="btn btn-secondary">Complete registration</button></a>
        <a href="#login"><button type="button" class="btn btn-secondary">Logging in</button></a>
        <a href="#finances"><button type="button" class="btn btn-secondary">Managing finances</button></a>
        <a href="#account"><button type="button" class="btn btn-secondary">Managing account</button></a>
        <a href="#logout"><button type="button" class="btn btn-secondary">Logging out</button></a>
    </div>

    <div>
        <h1>About</h1>
        <a name="signup"><span></span></a>
        <br/>
        <h2>Navigating to registration</h2>
        <p class="lead">To begin, click on the register tab at the top of the page.</p>
        <img class="img-responsive" src="/Content/Images/StepOne.png" />
    </div>

    <div>
        <a name="registration"><span></span></a>
        <br />
        <h2>Complete Registration</h2>
        <p class="lead">Populate the registration form, and click the register button at the bottom of the page.</p>
        <img class="img-responsive" src="/Content/Images/StepTwo.png" />
    </div>

    <div>
        <a name="login"><span></span></a>
        <br />
        <h2>Logging In</h2>
        <p class="lead">You will be redirected to the login page; enter your username and password and click Login at the bottom of the page.</p>
        <img class="img-responsive" src="/Content/Images/StepThree.png" />
    </div>

    <div>
        <h2>Dashboard</h2>
        <p class="lead">Upon Successful login, you will be taken to your dashboard. This will display a chart with your remaining funds based on the salary provided.</p>
        <p class="lead">To add an income or expenditure - click on finances tab at the top of the page.</p>
        <img class="img-responsive" src="/Content/Images/StepFour.png" />
    </div>

    <div>
        <a name="finances"><span></span></a>
        <br />
        <h2>Finances</h2>
        <p class="lead">Select income or expenditure; both will display a similar screen. from here you can view, add, edit and delete your entries.</p>
        <p class="lead">Before Selecting income or expenditure:</p>
        <img class="img-responsive" src="/Content/Images/StepFiveA.png" />
        <br />
        <p class="lead">After Selecting income or expenditure:</p>
        <img class="img-responsive" src="/Content/Images/StepFiveB.png" />
        <br />
        <p class="lead">To create an income or expenditure, populate the form and the click the create button at the bottom of the page.</p>
        <img class="img-responsive" src="/Content/Images/StepFiveC.png" />
        <br />
        <p class="lead">Upon creating a new income/expenditure, you will be taken back to the list of all incomes/expenditures.</p>
        <img class="img-responsive" src="/Content/Images/StepFiveD.png" />
    </div>

    <div>
        <h2>Navigating back to the dashboard</h2>
        <p class="lead">To navigate back to the dashboard, click on the Dashboard tab at the top of the page.</p>
        <img class="img-responsive" src="/Content/Images/StepSix.png" />
        <br />
        <p class="lead">Your chart will be populated with the income/expenditure you added. Hovering over the different sections will display information about your entries.</p>
        <img class="img-responsive" src="/Content/Images/StepSixA.png" />
        <br />
        <img class="img-responsive" src="/Content/Images/StepSixB.png" />
    </div>

    <div>
        <a name="account"><span></span></a>
        <br />
        <h2>Editing User Details</h2>
        <p class="lead">Click on the Welcome tab at the top of the screen.</p>
        <img class="img-responsive" src="/Content/Images/StepSeven.png" />
        <br />
        <p class="lead">Click the edit button to bring up a form to edit your details.</p>
        <img class="img-responsive" src="/Content/Images/StepSevenA.png" />
        <br />
        <p class="lead">Change what you would like, and then the save button.</p>
        <img class="img-responsive" src="/Content/Images/StepSevenB.png" />
        <br />
        <p class="lead">Your details will be amended, as seen below in the change of email address:</p>
        <img class="img-responsive" src="/Content/Images/StepSevenC.png" />
    </div>

    <div>
        <a name="logout"><span></span></a>
        <br />
        <h2>Logging Out</h2>
        <p class="lead">To log out, simply click the log out tab at the top of the page.</p>
        <img class="img-responsive" src="/Content/Images/StepEight.png" />
    </div>

</div>

